<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

      
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="assets/css/custom.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
      <style>
        input.ng-invalid.ng-touched{
    border: 1px solid red;
    
}
        
        
        </style>
            
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
            <script src="assets/js/app.js"></script>
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body ng-app="myMdl" ng-controller="myCtrl">
   
   <div class="container" style="border: 2px solid #ddd;height: 100%">
      <button class="btn btn-primary btn-lg " data-toggle="modal" data-target="#myModal" style="position:fixed ;right: 10%">Add New blog</button>
       <div class="row">
           <div class="col-md-4 category">
               <a href="" ng-click="runningCategory(null)"><h1 class="text-center">Categories</h1></a>
               <ul class="nav nav-sidebar text-center " ng-repeat="category in categories " >
                   <li><a href="" ng-click="runningCategory(category)">{{category.name}}</a></li>
               </ul>
           </div>
           <div class="col-md-6 text-center blog">
               <h1>BLOGS</h1>
              
                <div class="single-blog" ng-repeat="blog in blogs | filter:{category:clickedCategory.name}" style="background-color: bisque">
            
                   <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#deleteModal"
                    ng-click="targetBlog(blog)"><span class="glyphicon glyphicon-remove"></span></button>
                   
                   <h2><a href="{{blog.url}}">{{blog.title}}</a></h2>
                   
                   <p>{{blog.detail}}</p>
                
                </div>
            </div>
        </div>
        
   
   </div>
   
   
   <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add new blog</h4>

                    </div>
                    <div class="modal-body">
                        <form role="form" name="myform">
                            
                               
                                <label >Titel</label> 
                                <input type="text" class="form-control"   name="Titel" ng-model="newBlog.title" ng-required="true"><br>
                                <p ng-show="myform.title.$invalid && myform.Titel.$touched ">You must be filled out this field with your first name!!</p>
                           
                           
                           
                                <label >url:</label>
                                <input type="text" class="form-control"   name="url" ng-model="newBlog.url" required="true">
                            <p ng-show="myform.title.$invalid && myform.Titel.$touched ">You must be filled out this field with your first name!!</p>
                          
                                <label >Detail:</label>
                                <input type="text" class="form-control"   name="Detail" ng-model="newBlog.detail" required="true">
                           <p ng-show="myform.title.$invalid && myform.Titel.$touched ">You must be filled out this field with your first name!!</p>
                            
                                <label >Category:</label>
                               
                                  <select class="dropdown" ng-model="newBlog.category"  >
                                     <option ng-repeat="category in categories" ng-value="category.name">{{category.name}} </option>
                                      
                                 </select><br><br>



                            <button type="submit" class="btn btn-default" ng-click=" save() " data-dismiss="modal">Save</button>
                        </form>
                    </div>
                    <p>TEST</p>
                    <pre>
                    {{newBlog | json}}
                        
                    </pre>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- delete Model -->
        <div class="modal fade" id="deleteModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete Information</h4>
                    </div>
                    <div class="modal-body " style="color:red">
                        <strong>you are going to delete {{clickedBlog.title}} 's full info......</strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="deleteBlog()">YES</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal">NO</button>
                    </div>
                </div>
            </div>
        </div>
    
		

		<script src="assets/js/angular.min.js"></script>
        <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
        
        <script src="assets/js/bootstrap.min.js"></script>
        
        <script src="assets/js/jquery.min.js"></script>
      
        <script>
             
              </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
