



.blog{
    background-color: cadetblue;
}  

.col-md-4.category {
    text-transform:  uppercase;
    background-color: lavender;
    height:  100%;
}


.col-md-4.category ul li {
    margin:  5px;
    font-size:  23px;
    background-color: darkgray;
    border: 1px solid indianred;
    color: #fff;
}